# Prerequisites
archive
bin
include
lib
nvm/*
!nvm/README.md
!nvm/nvm-exec
!nvm/nvm.sh
sample/**/*/package-lock.json
sample/**/*/node_modules
!sample/module/inputcheck/node_modules
share
yarn/cache/
**/*/Learning-Node
