[Unit]
Description=Trilium Notebook
Documentation=https://github.com/zadam/trilium/wiki
After=network.target

[Service]
Type=simple
User=root
Group=root
Environment="TRILIUM_DATA_DIR=/root/.note/trilium"
ExecStart=/opt/node/app/trilium/trilium.sh
WorkingDirectory=/opt/node/app/trilium
Restart=on-failure
TimeoutSec=60s

[Install]
WantedBy=multi-user.target
